@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --generic-template-background: #363636;
  --logo-width: 250px;
  --top-wrapper-space: 0;
  --primary-template-background: #04194c;
  --light-template-background: #fff;
  --accordion-background-active: #2f84ed;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
  scroll-behavior: smooth;
}

body {
  background-color: var(--generic-template-background) !important;
}

.template-header {
  background: var(--generic-template-background);
  height: 15vh;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-flow: column wrap;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-template-background);
  align-self: center;
}

.logo h2 {
  margin: 0 0 0 11px;
  font-size: 18px;
  color: #000;
}

.logo img {
  width: var(--logo-width);
}

.wrapper {
  max-width: 1120px;
  width: 100%;
  padding: var(--top-wrapper-space) 30px 10px;
  margin: 0 auto;
  min-height: 75vh;
}

#accordionExample {
  background: var(--light-template-background);
  position: relative;
  margin: 0 auto 20px;
  border-radius: 7px;
  padding: 0;
  border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
}

.widget-holder .widget-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.widget-holder .widget-title h4 {
  margin: 0;
}

.yotpo-display-l .yotpo-base-layout {
  width: 100% !important;
}

#star-rating .yotpo-reviews-star-ratings-widget {
  justify-content: center !important;
}

#yotpo-vugc-preview-mode-layout,
.yotpo-reviews-carousel-preview-mode-layout,
.yotpo-pp-preview-mode-layout {
  height: auto !important;
}

#accordionExample .accordion-button:not(.collapsed) {
  background: var(--accordion-background-active);
  color: var(--light-template-background);
}

.footer-template {
  background: var(--primary-template-background);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #d9d9df;
}

.footer-template .footer-logo {
  color: var(--light-template-background);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer-logo img {
  width: 35px;
}

.footer-logo h2 {
  font-size: 18px;
  margin: 0 0 0 9px;
}

.cliboard-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 2px dashed var(--primary-template-background);
  margin: 0 clamp(10px, 4vw, 50px) clamp(10px, 4vw, 50px);
  padding: 30px 20px 20px;
  background: #f6f6ff;
}

.cliboard-holder .clipboard-details {
  width: clamp(300px, 45%, 600px);
  margin: 0 10px 20px;
}

.clipboard-details {
  display: flex;
  flex-flow: column wrap;
}

.cliboard-holder h2 {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 23px;
}

.clipboard-details h3 {
  font-size: 16px;
  flex-grow: 1;
}

.clipboard-details p {
  font-size: 12px;
}

.clipboard-details textarea {
  resize: none;
  height: 100px;
  padding: 0 10px;
  font-size: 12px;
  text-align: left;
  margin-bottom: 14px;
}

.rating-holder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.rating-holder section {
  width: clamp(300px, 45%, 600px);
  margin: 0 10px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--secondary-template-background);
  padding: 20px;
  border-radius: 20px;
}

.rating-holder section h1 {
  font-size: 20px;
  flex-grow: 1;
  margin-bottom: 20px;
}

.yotpo-widget-clear .yotpo-reviews-tab-layout-preview {
  height: auto;
}

.accordion-button,
.cliboard-holder * {
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=main.css.map */


/* VQFIT V3 CSS */
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.shopify.com/s/files/1/0708/4605/4708/files/FuturaPT-Book.ttf?v=1686827137) format('truetype');
}
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: bold;
  src: url(https://cdn.shopify.com/s/files/1/0708/4605/4708/files/FuturaPTMedium.otf?v=1683539828) format('opentype');
}

.yotpo-main-layout.yotpo-main-reviews-widget * {
  font-family: 'Futura',sans-serif !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  font-size: 0.75rem;
  }
  .yotpo-modal * {
  font-family: 'Futura',sans-serif !important;
  text-transform: uppercase;
  font-size: 0.75rem;
  }
  .modal-backdrop.yotpo-review-form-modal * {
    font-family: 'Futura',sans-serif !important;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-size: 0.75rem;
}
  [class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .modal-backdrop.yotpo-media-modal {
    background-color: #fff;
    overflow-y: scroll;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .modal-backdrop.yotpo-media-modal #yotpo-modal {
    overflow-y: unset;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-review-content .yotpo-read-more-text {
    display: inline;
    margin-right: 5px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-read-more {
    margin: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-votes-wrapper .yotpo-review-votes-icons-wrapper,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-votes-wrapper .yotpo-review-votes-icons-wrapper .yotpo-review-votes-icons-container {
    display: flex;
    gap: 5px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-votes-wrapper .yotpo-review-votes-icons-wrapper .yotpo-review-votes-icons-container .yotpo-review-votes-icons {
    margin: 0;
}
.yotpo-modal * {
    font-family: 'Inter',sans-serif !important;
}
.modal-backdrop.yotpo-review-media-modal * {
    font-family: 'Inter',sans-serif !important;
}
.modal-backdrop .yotpo-modal .modal-close-btn-wrapper .btn-close {
    z-index: 10000000000000000000 !important;
}
.modal-backdrop.yotpo-review-form-modal .yotpo-modal {
    width: unset;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel text.yotpo-avatar-initials-text {
    font-size: 17px;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review-votes-wrapper.top-margin .yotpo-review-votes-text {
    font-size: 14px;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel .yotpo-score-filter.yotpo-score-filter-container .yotpo-dropdown-content {
    background-color: #fff !important;
  width:100% !important;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel .yotpo-score-filter.yotpo-score-filter-container .yotpo-dropdown-content span.yotpo-score-option {
    width: auto;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-verified-icon-wrapper {
    top: 25px;
    left: 28px;
}
.yotpo-display-s .modal-backdrop.yotpo-review-form-modal .yotpo-modal {
    width: unset;
}
.yotpo-display-s .modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body form.yotpo-review-form .yotpo-star-rating-wrapper.yotpo-new-review-star-rating .yotpo-star-rating-icons fieldset.yotpo-star-rating-icons-wrapper svg.yotpo-star-rating-icon {
    margin: 0 5px;
}
.yotpo-display-s .modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body form.yotpo-review-form .yotpo-star-rating-wrapper.yotpo-new-review-star-rating .yotpo-star-rating-icons fieldset.yotpo-star-rating-icons-wrapper {
    padding: 5px;
}
.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review-votes-wrapper.top-margin .yotpo-review-votes-text {
    font-size: 11px;
}

.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review-votes-wrapper.top-margin .yotpo-review-votes-icons-wrapper .yotpo-review-votes-icons-container .yotpo-review-votes-number {
    font-size: 12px;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review-votes-wrapper.top-margin .yotpo-review-votes-icons-wrapper .yotpo-review-votes-icons-container {
    align-items: flex-end;
}
.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel .yotpo-review-details .yotpo-review-date .yotpo-date-format {
    font-size: 12px;
}
.yotpo-filters-results-btn .yotpo-filters-results-btn-no-results .yotpo-filters-results-btn-no-results-text span.yotpo-filters-results-btn-text.yotpo-filters-results-btn-text-no-matching {
    font-size: 10px;
}
.yotpo-filters-results-btn .yotpo-filters-results-btn-no-results .yotpo-filters-results-btn-no-results-text span.yotpo-filters-results-btn-text.yotpo-filters-results-btn-text-clearing {
    font-size: 10px;
}
.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-reviewer svg.yotpo-verified-icon {
    width: 13px;
    height: 13px;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title .yotpo-review-title {
    font-size: 16px;
}
.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-verified-icon-wrapper {
    top: 19px;
    left: 23px;
}
.modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body form.yotpo-review-form .yotpo-star-rating-wrapper.yotpo-new-review-star-rating .yotpo-star-rating-icons fieldset.yotpo-star-rating-icons-wrapper {
    padding-left: 0;
}
.modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body form.yotpo-review-form .yotpo-star-rating-wrapper.yotpo-new-review-star-rating .yotpo-star-rating-icons fieldset.yotpo-star-rating-icons-wrapper svg.yotpo-star-rating-icon:first-child {
    margin-left: 0;
}
.modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body form.yotpo-review-form .yotpo-input-wrapper.yotpo-new-review-headline {
    width: 100%;
}
.yotpo-display-s .modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body form.yotpo-review-form .yotpo-name-email-wrapper .yotpo-input-wrapper.yotpo-new-review-name {
    width: 100%;
}
.yotpo-display-s .modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body form.yotpo-review-form .yotpo-name-email-wrapper .yotpo-input-wrapper.yotpo-new-review-email {
    width: 100%;
}
.yotpo-display-s .modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body form.yotpo-review-form .yotpo-input-wrapper.yotpo-new-review-content textarea {
    width: 95%;
}
.modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body form.yotpo-review-form .yotpo-name-email-wrapper {
    min-width: 100%;
}
.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-filters-container .yotpo-filters-container-inner button.yotpo-mobile-filters-btn.yotpo-mobile-filters-popup-btn {
    max-width: 120px;
}
.yotpo-display-s .yotpo-clear-filters-container.yotpo-clear-filters-device span.yotpo-matched-reviews {
    font-size: 9px;
}
.yotpo-display-s .yotpo-clear-filters-container.yotpo-clear-filters-device button.yotpo-clear-filters {
    font-size: 9px;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel .yotpo-score-filter.yotpo-score-filter-container .yotpo-dropdown-content span.yotpo-score {
    font-size: 12px;
}
div#yotpo-mobile-filters-popup span.yotpo-score {
    font-size: 11px;
}
.yotpo-filters-results-btn .yotpo-filters-results-btn-no-results .yotpo-filters-results-btn-clear-wrapper[data-v-75e01bf8] span.yotpo-filters-results-btn-clear {
    font-size: 7px;
}
div#yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header h4.yotpo-mobile-filters-popup-title {
    font-size: 14px;
}
div#yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header button.yotpo-mobile-filters-popup-clear {
    font-size: 10px;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-new-review-btn-wrapper button#yotpo-main-widget-btn {
    font-size: 12px;
      min-width: 165px;
}
.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel {
    flex-direction: column;
    gap: 10px;
      max-width: 200px;
}
.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list nav.yotpo-reviews-pagination-container a.yotpo-reviews-pagination-item {
    font-size: 10px;
}
.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-star-distribution {
    padding: 20px;
}
.modal-backdrop.yotpo-review-form-modal .yotpo-modal * {
    font-size: 14px !important;
}

.yotpo-mobile-filters-popup-overlay-container .yotpo-mobile-filters-popup-content {
    padding: 40px !important;
}
.yotpo-mobile-filters-popup-content * {
    font-size: 12px !important;
}
.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title .yotpo-review-title {
    font-size: 16px;
    margin: 0;
}
.yotpo-display-s .yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget div#yotpo-reviews-container .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-content {
    margin-top: 15px;
}
.modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body footer.form-footer .yotpo-checkbox-container.yotpo-terms-and-conditions-container {
    display: inline-block;
}
.modal-backdrop.yotpo-review-form-modal .yotpo-modal .yotpo-modal-body footer.form-footer .yotpo-checkbox-container.yotpo-terms-and-conditions-container input#checkboxInput {
    position: relative;
    top: 1px;
}

.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel .yotpo-search-filter.yotpo-free-search-filter-container label.yotpo-search-label input#searchInput {
  text-transform: uppercase;
  font-size: 0.75rem;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel .yotpo-score-filter.yotpo-score-filter-container label.yotpo-dropdown-base .yotpo-selected-value {
  text-transform: uppercase;
  font-size: 0.75rem;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel .yotpo-media-filter.yotpo-media-filter-container label.yotpo-radio-base .yotpo-selected-value {
  text-transform: uppercase;
  font-size: 0.75rem;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-bottom-line .yotpo-summary-section .yotpo-bottom-line-summary .yotpo-bottom-line-right-panel .yotpo-bottom-line-text .yotpo-bottom-line-basic-text {
  text-transform: uppercase;
  font-size: 0.75rem;
}
.yotpo-main-widget-layout.yotpo-align-text .yotpo-base-layout .yotpo-main-layout.yotpo-main-reviews-widget .yotpo-header-container .yotpo-layout-header-wrapper .yotpo-new-review-btn-wrapper button#yotpo-main-widget-btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: normal;
}